.content {
  position: relative;

  width: 279px;
  height: 113px;
}
.content h2 {
  position: absolute;
  color: #fff;

  font-size: 6.5em;
}
.content h2:nth-child(1) {
  color: transparent;
  -webkit-text-stroke: 2px #03a9f4;
}
.content h2:nth-child(2) {
  color: #03a9f4;
  animation: water 4s ease-in-out infinite;
}

@keyframes water {
  0%,
  100% {
    clip-path: polygon(
      0% 38%,
      16% 41%,
      36% 51%,
      49% 68%,
      71% 68%,
      84% 63%,
      99% 51%,
      99% 99%,
      0% 100%
    );
  }

  50% {
    clip-path: polygon(
      0 48%,
      14% 62%,
      32% 68%,
      52% 70%,
      65% 60%,
      76% 49%,
      100% 36%,
      99% 99%,
      0% 100%
    );
  }
}
